<%#= 削除時はリダイレクトして一覧画面に遷移するため、削除ページは不要 %>

<h1>ShoppingList Delete</h1>

<div class="contents row">
    <div class="success">
      <h3>
        削除が完了しました。
      </h3>
      <%= link_to('一覧へ戻る', shop_lists_path) %>
    </div>
</div>